diffusers==0.14.0
matplotlib==3.6.2
numpy
scikit-image
scipy
tqdm==4.65.0
wandb==0.13.9
opencv-python==4.8.0.74
pybullet==3.2.5
timm==0.6.12
iopath==0.1.10
realesrgan==0.3.0
transformers== 4.28.0
fairscale==0.4.13
nltk==3.8.1
chardet
accelerate